<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Agenda de contactos</p>
    <hr />
    <h2>
      Detalles del contacto: <%= contact.firstName + ' ' + contact.lastName %>
    </h2>
    <form method="post" action="/contacts/<%= contact.id %>">
      <input
        type="text"
        name="firstName"
        placeholder="Ingresa el nombre(s)"
        value="<%= contact.firstName %>"
        required
      />
      <br />
      <input
        type="text"
        name="lastName"
        placeholder="Ingresa el apellido(s)"
        value="<%= contact.lastName %>"
        required
      />
      <br />
      <input
        type="email"
        name="email"
        placeholder="Ingrea el email"
        value="<%= contact.email %>"
        required
      />
      <br />
      <input
        type="tel"
        name="phoneNumber"
        placeholder="Ingresa el número de teléfono"
        value="<%= contact.phoneNumber %>"
        required
      />
      <br />
      <button type="submit">Actualizar contacto</button>
    </form>
  </body>
</html>
